.launch-item
    &--lastest,
    &--oncoming,
    &--past,
    &--next
        padding: 3em 1.7em
        border-radius: 1em

    &--lastest,
    &--oncoming,
    &--past
        background-color: #171717
        color: #8F8F8F

    &--next
        background-color: #2B2B2B
        color: #ffffff

    &__title
        font-size: 3em

    &__date
        font-size: 2em